/* 
  You don't need to add any styles to complete this project.

  If you want to add styles, you can do so in this file.
  
*/



/* These styles are for the disclaimer -- leave them alone */

.disclaimer {
  margin: 1em;
  padding: 4px;
  border: 1px solid hotpink;
}